easyocr==1.7.2
matplotlib==3.10.3
numpy==1.26.0
opencv-python==4.11.0.86
pandas==2.2.3
roboflow==1.1.63
scikit-image==0.25.2
scipy==1.15.3
seaborn==0.13.2
ultralytics==8.3.133

#--index-url https://download.pytorch.org/whl/cu126
torch==2.7.0
torchvision==0.22.0